body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
    background: linear-gradient(to right, rgb(187, 187, 187),#124b12);
}

    /*background: linear-gradient(to right, rgb(139, 139, 139),#000000);*/


nav{
    display: none;
}

.me{
    position: absolute;
    width: 100px;
    top: 10px;
    border-radius: 0;
    z-index: 1;
    border-radius: 50%;
    filter: drop-shadow(3px 3px 3px);
}

#circle{
    width: 800px;
    height: 800px;
    /*background: red;*/
    position: absolute;
    top: -20%;
    transform: translateY(-50%);
    transform: rotate(0deg);
    transition: 1s;
    
}
#first{
    position: absolute;
    bottom: 25%;
    right:50%;
    transform: translateX(-50%);
    transition: 1s;
}
#second{
    position: absolute;
    bottom: 15%;
    right:20%;
    transform: rotate(-90deg);
    color:transparent;
    transition: 1s;
}
#third{
    position: absolute;
    top:30%;
    right: 5%;
    transform: rotate(-180deg);
    color:transparent;
    transition: 1s;
}
#fourth{
    position: absolute;
    top: 15%;
    left: 20%;
    transform: rotate(-270deg);
    color:transparent;
    transition: 1s;
}

.controls{
    position:absolute;
    width: 100%;
}
.controls h3{
    display: none;
}
#upBtn{
    position: absolute;
    transform: rotate(-90deg);
    top: 25vh;
}
#downBtn{
    position: absolute;
    top: 25vh;
    right: 0%;
    transform: rotate(-90deg);
}